.book_card{
    border-radius: 10px;
    
    .refurbished_flag{
      float: right;
      padding-right: 5px;
    }
    
    .books_refurbished_checkbox{
      float: right;
    }
    
    .controls{
      width: 100%;
      text-align: center;
      float: right;
    }
    
    .full_controls{
      display: flex;
      flex-direction: row-reverse;
      margin-top: 10px;
    }
    
    .add_to_cart_button{
      background: var(--ion-color-primary);
      padding: 10px;
      color: #fff;
      font-weight: 900;
      box-shadow: 0px 1px 6px 0px #7b7b7b;
      // border-radius: 16px;
    }
  
    .product_in_cart{
      width: 33%;
      margin: auto;
      font-size: 1.6em;
    }
  
    .plus_minus_button{
      width: 33%;
      padding: 2px;
      color: #fff;
      font-weight: 700;
      font-size: 1.9em;
      // border-radius: 31px;
      background: var(--ion-color-primary);
    }
  }
  .recommendation_section{
    // position: absolute;
    // bottom: 0;
    
    .indented_heading{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 16px;
      position: relative;
      color: #3e3e3e;
    }

    .controls{
      padding: 5px;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      background-color: #58c3a1;
    }
  }

.footer{
    .total{
        text-align: center;
        font-size: 1.2em;
        margin: auto;

    }

    .controls{
    text-align: center;
        .order_details{
            background: var(--ion-color-primary);
            padding: 10px;
            color: #fff;
            font-weight: 900;
            box-shadow: 0px 1px 6px 0px #7b7b7b;
            // border-radius: 16px;
        }
    }
}